PORT=3005 # port
DATABASE_URL="postgresql://user:password@localhost:5432/db_name?schema=public"
SETUP_TOKEN="change-me"
 # JWT_ACCESS_SECRET - Пропуск в систему
JWT_ACCESS_SECRET=change-me # секретный ключ, которым подписывается access token. access токен живёт коротко
 # JWT_REFRESH_SECRET - Продление пропуска
JWT_REFRESH_SECRET=change-me # refresh токен живёт долго
ACCESS_TTL=15m # время жизни.  Access токен живёт 15 минут. хранится в памяти фронтенда или в localStorage
REFRESH_TTL=30d # Refresh токен живёт 30 дней.
COOKIE_SECURE=false # в продакшене будет true


# MinIO local (dev)
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=change-me
S3_SECRET_KEY=change-me
S3_BUCKET=artworks
PUBLIC_FILES_BASE_URL=http://localhost:9000/artworks
S3_FORCE_PATH_STYLE=true